<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>key</title>
</head>
<body>
    <h1>Key</h1>
    <form action="{% url 'addapi' user.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="a_key" placeholder="Enter API key">
        <input type="text" name="s_key" placeholder="Enter secrtkey">
        <input type="submit" name="add" placeholder="ADD">
    </form>
</body>
</html>